<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/terms/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" xmlns:opds="http://opds-spec.org/2010/catalog">
  <title>Лепробиблиотека</title>
  <id>tag:root:new:0:{{author "Толстой лев"}}</id>
  <icon>/favicon.ico</icon>
  <updated>UPDATED</updated>
  <link href="/opds" rel="start" type="application/atom+xml;profile=opds-catalog"></link>
  <link href="/opds-opensearch.xml" rel="search" type="application/opensearchdescription+xml"></link>
  <link href="/opds/search?searchTerms={searchTerms}" rel="search" type="application/atom+xml"></link>
  <entry>
    <title>война и МИР</title>
    <updated>UPDATED</updated>
    <id>{{book "multi-author.fb2"}}</id>
    <dc:language>ru</dc:language>
    <dc:issued>{{.Year}}</dc:issued>
    <summary>Роман-эпопея о войне и мире.</summary>
    <link href="/opds/get/fb2/{{book "multi-author.fb2"}}" rel="http://opds-spec.org/acquisition/open-access" type="application/fb2+zip"></link>
    <link href="/opds/get/epub/{{book "multi-author.fb2"}}" rel="http://opds-spec.org/acquisition/open-access" type="application/epub+zip"></link>
    <link href="/opds/get/mobi/{{book "multi-author.fb2"}}" rel="http://opds-spec.org/acquisition/open-access" type="application/x-mobipocket-ebook"></link>
    <link href="/books-posters/no-cover.png" rel="http://opds-spec.org/image" type="image/jpeg"></link>
    <link href="/books-posters/no-cover.png" rel="x-stanza-cover-image" type="image/jpeg"></link>
    <link href="/books-posters/no-cover.png" rel="http://opds-spec.org/thumbnail" type="image/jpeg"></link>
    <link href="/books-posters/no-cover.png" rel="x-stanza-cover-image-thumbnail" type="image/jpeg"></link>
    <link href="/opds/new/0/{{author "Толстой лев"}}" rel="related" type="application/atom+xml;profile=opds-catalog" title="Все книги: Толстой лев"></link>
    <link href="/opds/new/0/{{author "пушкин Анна"}}" rel="related" type="application/atom+xml;profile=opds-catalog" title="Все книги: пушкин Анна"></link>
    <author>
      <name>Толстой лев</name>
      <uri>/opds/author/{{author "Толстой лев"}}</uri>
    </author>
    <author>
      <name>пушкин Анна</name>
      <uri>/opds/author/{{author "пушкин Анна"}}</uri>
    </author>
  </entry>
</feed>