<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/terms/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" xmlns:opds="http://opds-spec.org/2010/catalog">
  <title>Поиск книг</title>
  <id>tag:search:books:%D0%A1%D0%B1%D0%BE%D1%80%D0%BD%D0%B8%D0%BA:0</id>
  <icon>/favicon.ico</icon>
  <updated>UPDATED</updated>
  <link href="/opds" rel="start" type="application/atom+xml;profile=opds-catalog"></link>
  <link href="/opds-opensearch.xml" rel="search" type="application/opensearchdescription+xml"></link>
  <link href="/opds/search?searchTerms={searchTerms}" rel="search" type="application/atom+xml"></link>
  <entry>
    <title>Сборник без автора</title>
    <updated>UPDATED</updated>
    <id>{{book "no-author.fb2"}}</id>
    <dc:language>ru</dc:language>
    <dc:issued>{{.Year}}</dc:issued>
    <summary></summary>
    <link href="/opds/get/fb2/{{book "no-author.fb2"}}" rel="http://opds-spec.org/acquisition/open-access" type="application/fb2+zip"></link>
    <link href="/opds/get/epub/{{book "no-author.fb2"}}" rel="http://opds-spec.org/acquisition/open-access" type="application/epub+zip"></link>
    <link href="/opds/get/mobi/{{book "no-author.fb2"}}" rel="http://opds-spec.org/acquisition/open-access" type="application/x-mobipocket-ebook"></link>
    <link href="/books-posters/no-cover.png" rel="http://opds-spec.org/image" type="image/jpeg"></link>
    <link href="/books-posters/no-cover.png" rel="x-stanza-cover-image" type="image/jpeg"></link>
    <link href="/books-posters/no-cover.png" rel="http://opds-spec.org/thumbnail" type="image/jpeg"></link>
    <link href="/books-posters/no-cover.png" rel="x-stanza-cover-image-thumbnail" type="image/jpeg"></link>
    <link href="/opds/new/0/{{author "Автор неизвестен"}}" rel="related" type="application/atom+xml;profile=opds-catalog" title="Все книги: Автор неизвестен"></link>
    <author>
      <name>Автор неизвестен</name>
      <uri>/opds/author/{{author "Автор неизвестен"}}</uri>
    </author>
  </entry>
</feed>