project_domain: "example.com"
project_url: "https://example.com"
secret_key: "randomSecretKey12345"
postgres:
  dbuser: exampleuser
  dbpass: examplepassword
  dbname: exampledb
  dbhost: "localhost:5432"

redis:
  host: localhost
  port: 6379

sessions:
  key: randomSessionKey12345
  refresh: randomRefreshKey12345

app:
  devel_mode: no
  cdn: "https://example.com"
  files_path: "/files/"
  users_path: "/users/"
  book_cdn_key: "randomBookCdnKey12345"
  posters_path: "/posters/"
  file_book_cdn: "https://example.com"
  mobi_conversion_dir: "/mobi/"

email:
  from: "no-reply@example.com"
  user: "apikey"
  password: "randomApiKey12345"
  smtp_server: smtp.example.com:465
  messages:
    registration:
      subject: "Registration at Example"
      title: "Registration at Example"
      message: "Click the button to activate your account"
      button: "Activate"
      thanks: "Best regards, Example"
    reset:
      subject: "Password Reset at Example"
      title: "Password Reset at Example"
      message: "Click the button to reset your password. If you did not request a password reset, please ignore this email."
      button: "Reset Password"
      thanks: "Best regards, Example"