/* src/components/styles/Footer.css */
.footer {
    background-color: #333;
    color: white;
    padding: 2px 10px; /* 10 pixel padding */
    width: 100%;
    position: relative;
    font-size: 10px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertical alignment */
}

.footer .left {
    text-align: left;
}

.footer .right {
    text-align: right;
}

.footer a {
    color: white; /* Link color same as text */
    text-decoration: none; /* Remove underline */
}

.footer a:hover {
    text-decoration: underline; /* Underline on hover */
}
